<%- include ../layouts/header.ejs %>

    <div class="card mb-5">
        <div class="card-header text-center display-4 text-dark">
            <strong> LIBROS DE PROGRAMACIÓN</strong>
        </div>
    </div>

    <a href="/libros/crearlibro" class="btn btn-outline-primary bi bi-file-earmark-plus"> Agregar</a>

    <br>
    <br>

    <div class="row">

        <% for( let libro=0; libro < libros.length; libro++ ) { %>

            <div class="col-sm-3 mb-3">
                <div class="card">
                    <img width="400" src="images/<%= libros[libro].imagen %>" alt="" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title text-muted">#<%= libros[libro].id %>
                        </h5>
                        <h5 class="card-title text-center text-dark"> <strong>
                                <%= libros[libro].titulo %>
                            </strong>
                        </h5>
                        <p class="card-text text-dark">
                            <%= libros[libro].descripcion %>
                        </p>
                        <p class="card-text text-dark"><span class="text-muted "> Categoria:</span>
                            <%= libros[libro].categoria %>
                        </p>
                        <br>
                        <br>

                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <form action="/libros/editar/<%= libros[libro].id %> " method="get">
                                <button class="btn btn-info bi bi-pencil-square" type="submit">Editar</button>
                            </form>
                            <form action="/libros/eliminar/<%= libros[libro].id %> " method="post">
                                <button class="btn btn-danger  bi bi-trash" type="submit"> Eliminar</button>
                            </form>
                            <button type="button" class="btn btn-warning">Ver libro</button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>

    </div>

    <%- include ../layouts/footer.ejs %>